{{> navigation}}
<div id="car-listings">
    <h1>Car Listings</h1>

    <div id="listings">
        {{#each listings}}
            {{>listing}}
        {{else}}
            <p class="no-cars">No listings in database.</p>
        {{/each}}

    </div>
</div>
{{> footer}}